* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('./../images/nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#content-page {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: default;
  user-select: none;
  font-size: .7rem;
  /* backdrop-filter: brightness(70%) !important; */
  border: 1px solid #fff;
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

hr {
  margin: 15px 0;
}

.snowflake {
  position: absolute;
  background-image: url("./../images/snowflake-image.svg");
  background-size: cover;
  border-radius: 50px;
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
    transform: translate(50%, 50%);
    opacity: 1;
  }

  100% {
    transform: translate(50%, 1000%);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  #content-page {
    padding: 15px;
    font-size: .45rem;
  }
  hr {
    margin: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  #content-page {
    padding: 10px;
    font-size: .38rem;
    border-radius: 10px;
  }
  hr {
    margin: 8px 0;
  }
}